@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600,700');
@font-face {
   font-family: Aleo;
   src: url('../font/Webfont Kit/Regular/aleo-regular-webfont.ttf');
   }


body{
	margin:0;
	min-width: 1200px;
	width: 100%;
}

.header{
	background: url('../img/bg_header.png') 50% no-repeat;
	background-size: cover;
	padding: 265px 0 130px;
}

.wrapper{
	width:65%;
	margin:0 auto;

}

.header__title{
	font-family: Josefin Sans;
	color:  #ffffff;
	font-size: 48px;
	font-weight: 700;
	line-height: 26px;
	letter-spacing: 10px;
	margin:0;
	text-align: center;
	cursor: pointer;
}
.header__title:hover{
	opacity: 0.6;
}

.header__title--h2{
	font-size: 22px;
	font-weight: 400;
	margin:25px 0 50px;
}

.header__search {
	margin:0 auto;
    width: 60%;
    border: 2px solid #fff;
    height: 60px;
    background-color: #fff;
    margin-bottom: 120px;
}
.search__input{
	padding-top:20px;
    border: none;
    outline: none;
    -webkit-appearance: none;
    width: 75%;
    vertical-align: middle;
    font-family: Josefin Sans;
    color:  #999999;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    letter-spacing: 1px;
    float:left;
    cursor: pointer;

}
.search__input:hover{
	opacity: 0.6;
	color: #000}

.header__back{
	background: #5474fd;
	width: 25%;
	text-align: center;
	float:left;
}

.search__submit{
	background: url('../img/search_icon.png')101% no-repeat;
    height: 59px;
    border: none;
    font-family: Aleo;
    color:  #ffffff;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
    padding: 20px;
}
.search__submit:hover{
	opacity: 0.6;
	color:#000;

}

.header__scroll{
	font-family: Josefin Sans;
	color:  #ffffff;
	letter-spacing: 2px;
	font-size: 14px;
	font-weight: 400;
	line-height: 26px;
	text-align: center;
	margin-bottom: 15px;
}

.header__scrollicon{
	background: url('../img/scroll.svg') 50% no-repeat;
	display: block;
	margin:0 auto;
	width: 15px;
	height:8px;
	cursor: pointer;
}
.header__scrollicon:hover{
	opacity: 0.5;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
}

.menu{
	background-color: #5474fd;
	padding: 30px 0 45px 0;
	vertical-align: middle;
}

.menu__logo{
	font-family: Josefin Sans;
	color:  #ffffff;
	font-size: 24px;
	font-weight: 700;
	height: 26px;
	text-align: left;
	text-decoration: none;
	cursor:pointer;
	float:left;
	vertical-align: middle;

}
.menu__logo:hover{
	opacity: 0.6;
	-webkit-transform: scale(1.1);
	   -moz-transform: scale(1.1);
	    -ms-transform: scale(1.1);
	     -o-transform: scale(1.1);
	        transform: scale(1.1);
}
.menu__nav{
	float:right;
	text-align: right;
	vertical-align: middle;
}

.nav__item{
    font-family: Aleo;
    color:  #ffffff;
    font-size: 14px;
    font-weight: 400;
    height: 26px;
	text-decoration: none;
	margin: 10px;
	cursor:pointer;
	vertical-align: middle;
}

.nav__item:hover{
	border-top: 2px solid #fff;
	opacity: 0.6;
	padding-top:2px;
}

.whoweare{
	background: url('../img/bg_whoweare.png') 50% no-repeat;
	background-size: cover;
	padding: 115px 0;
	overflow: hidden;
}

.whoweare__text{
	width:47%;
	margin-right: 6%;
	float:left;
}

.whoweare__pics{
	width: 47%;
	float: left;
}

.whoweare__title{
	font-family: Aleo;
	color:  #ffffff;
	font-size: 36px;
	font-weight: 400;
	line-height: 26px;
	text-align: left;
	margin:90px 0 65px;
	cursor: pointer
}
.whoweare__title:hover{
	opacity: 0.7;
}

.whoweare__descript{
	font-family: Josefin Sans;
	color:  #e8e8e8;
	font-size: 16px;
	font-weight: 400;
	line-height: 26px;
	text-align: left;
	margin:0 0 50px;
}

.whoweare__button{
	text-align: center;
	background-color:  rgba(84, 116, 253, 0.5);
	padding: 10px 30px;
	border:none;
	font-family: Aleo;
	letter-spacing: 0.5px;
	color:  #ffffff;
	font-size: 16px;
	font-weight: 400;
	line-height: 26px;
	cursor:pointer;
}

.whoweare__button:hover{
	background-color:  rgba(84, 116, 253, 1);
}

.whoweare__pic1{
	width: 75%;
	margin-left: 5%;
	margin-bottom: 10px;
	cursor: pointer
}
.whoweare__pic2{
	width: 75%;
	float:right;
	cursor: pointer
}

.whoweare__pic1:hover,
.whoweare__pic2:hover{
	opacity: 0.6;
	}

.search{
	background: #333333;
	padding: 50px 0 120px;
}

.wrapper--search{
	background: url('../img/shape.png') no-repeat 50%;
	background-size: 90%;
}

.search__icon{
	cursor:pointer;
	width: 15%;
	margin-top:80px;
}
.search__icon:hover{
	opacity: 0.6;
}
.search__icon--icon2{
	margin-left:27%;
}

.search__icon--icon3{
	margin-left:26%;
}

.spain{
	background: url('../img/spain1.png') 50% no-repeat;
	background-size: cover;
	padding: 230px 0 100px;

}

.spain__text{
	width:47%;
	background-color:  rgba(35, 35, 35, 0.9);
	padding:50px 40px 50px 30px;
}

.spain__title{
	font-family: Josefin Sans;
	color:  #e8e8e8;
	font-size: 20px;
	font-weight: 400;
	line-height: 26px;
	margin:0 0 30px 0;
}

.spain__title--title2{
	color:  #ffffff;
}

.spain__desrcript{
	margin:0 0 50px 0;
	font-family: Josefin Sans;
	color:  #e8e8e8;
	font-size: 16px;
	font-weight: 400;
	line-height: 26px;
}

.spain__button{
	text-align: center;
	background-color:  rgba(84, 116, 253, 0.7);
	padding: 15px 50px;
	border:none;
	font-family: Aleo;
	letter-spacing: 0.5px;
	color:  #ffffff;
	font-size: 16px;
	font-weight: 400;
	line-height: 26px;
	cursor:pointer;
}
.spain__button:hover{
	opacity: 0.6;
	color:#000;
}
.spain2{
	background: url('../img/spain2.png') 50% no-repeat;
	background-size: cover;
	padding: 230px 0 100px;
	overflow: hidden;
}

.spain__text--page2{
	float:right;
}

.tourist{
	padding: 125px 0 200px;
	background: url('../img/tourist.png') 50% no-repeat;
	background-size: cover;
}

.tourist__title{
	font-family: Aleo;
	color:  #ffffff;
	font-size: 36px;
	font-weight: 400;
	line-height: 26px;
	text-align: center;
	margin:0 0 100px;
	cursor: pointer;
}

.tourist__title:hover{
	opacity: 0.6;
	-webkit-transform: scale(1.1);
	   -moz-transform: scale(1.1);
	    -ms-transform: scale(1.1);
	     -o-transform: scale(1.1);
	        transform: scale(1.1);
}
.tourist__pic{
	width:100%;
	height: 300px;
}

.tourist__image{
	width:33.33%;
	height: 300px;
	float:left;
}
.tourist__descript{
	width: 66.66%;
	float:left;
	background: #333333;
	height: 300px;
}
.tourist__name{
	font-family: Josefin Sans;
	color:  #fefefe;
	font-size: 20px;
	font-weight: 400;
	line-height: 20px;
	margin:0 0 30px 0;
	padding: 45px 0px 0px 60px;
}
.tourist__quote{
	margin:0;
	padding-left:60px;
}
.fa-quote-left{
	color:  #5474fd;
}
.tourist__text{
	font-family: Josefin Sans;
	color:  #e8e8e8;
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
	margin:0;
	padding: 0px 50px 55px 60px;
	text-indent: 15px;

}

.footer{
	background: #232323;
	padding: 115px 0 50px;
}

.footer__logo{
	display: block;
	font-family: Josefin Sans;
	color:  #ffffff;
	letter-spacing: 5px;
	font-size: 24px;
	font-weight: 700;
	line-height: 26px;
	text-align: center;
	margin-bottom:20px;
	cursor: pointer;
	text-decoration: none;
}
.footer__logo:hover{
	opacity: 0.6;
	-webkit-transform: scale(1.1);
	   -moz-transform: scale(1.1);
	    -ms-transform: scale(1.1);
	     -o-transform: scale(1.1);
	        transform: scale(1.1);
}

.footer__aim{
	font-family: Josefin Sans;
	color:  #ffffff;
	letter-spacing: 3px;
	font-size: 16px;
	font-weight: 400;
	line-height: 26px;
	text-align: center;
	margin:0 0 35px;
}

.footer__nav{
	text-align:center;
}
.footer__item{
	color:#fff;
	margin-right:20px;
	cursor:pointer
}

.footer__item:hover{
	color:#3d4fa1;

}
